html {
   background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.) 85%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.3));
   background-image: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 85%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 1.0));
   background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 9.1)), color-stop(0.05, rgba(0, 0, 0, 0.9)), color-stop(0.95, rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 9.1))), url('./background.png');;
   background-image: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 85%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 1.0));
   background-image: -ms-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 85%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 1.0));
   min-height: 100%;
   width: 100%;
   padding: 0px;
   margin: 0px;
   color: white;
}

body {
   width: 100%;
   padding: 0px;
   margin: 0px;
}

h1 {
   text-align: center;
}

#viewer {
   text-align: center;
}

#viewer > canvas {
   background: #fff;
   border: 1px solid black;
}

#console, #viewer {
   margin: 2em;
   background: #ffffff;
   background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 85%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.2)),
               linear-gradient(bottom, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0)),
               rgba(255, 255, 255, 0.3);
   background: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 85%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.2)),
               -o-linear-gradient(bottom, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0)),
               rgba(255, 255, 255, 0.3);
   background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 85%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.2)),
               -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0)),
               rgba(255, 255, 255, 0.3);

   background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 85%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.2)),
               -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0)),
               rgba(255, 255, 255, 0.3);
   background: -ms-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 85%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.2)),
               -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0)),
               rgba(255, 255, 255, 0.3);

   box-shadow: 0px 0px 20px #505050;
   -o-box-shadow: 0px 0px 20px #505050;
   -webkit-box-shadow: 0px 0px 20px #505050;
   -moz-box-shadow: 0px 0px 20px #505050;
   -ms-box-shadow: 0px 0px 20px #505050;

   border-top: 1px #909090 solid;
   border-right: 1px #a0a0a0 solid;
   border-bottom: 1px #a0a0a0 solid;
   border-left: 1px #a0a0a0 solid;
}

#original {
   display: none;
}